[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
numpy = "*"

[requires]
python_version = "3.7"

[scripts]
meta = "python ../../meta_json.py"
format = "python ../../format_world_bank.py"
serialize = "python ../../format_json.py"
music = "python download_music.py"